h1{
    text-align: center;
    color: darkred;
    text-decoration: underline blueviolet;
    font-family: cursive;
}

*{
    background: radial-gradient(ellispe farthest-corner at center top, #f39264 0%, #f2606f 100%);
}   